


$blue: #1B8354;
:root {
    --bs-primary: #1B8354; 
    --bs-primary-dark: #14573A; 
    --bs-primary-dark2: #074D31; 
    --bs-light-000: #ffffff; 
    --bs-light-050: #F9FAFB; 
    --bs-light-100: #F3F4F6; 
    --bs-light-200: #FFFFFFCC; 
    --bs-light-300: #b4b4b4; 
    --bs-light-400: #6C737F; 
    --bs-light-500: #FFFFFF4D; 
    --bs-light-800: #1F2A37; 
    --bs-purple:#7F529E;

    
    --bs-light-border: #E5E7EB;  
    
    --nav-link-color:#161616;

    --bs-font-12:12px;
    --bs-font-14:14px;
   --bs-font-16:1rem;
   --bs-font-18:1.125rem;
   --bs-font-20:1.25rem;
   --bs-font-24:1.5rem;
   --bs-font-30:1.875rem;
   --bs-font-32:2rem;
   --bs-font-40:2.5rem;
   --bs-font-48:3rem;
   --bs-font-64:4rem;
}

